.form-group label {
    text-align: left;
    display: block;
}

.kirimLaporan {
    background-color: #3068a6;
    color: #fff !important;
    width: 100%;
    height: 45px;
    background: rgb(248, 218, 109);
    background: linear-gradient(90deg, rgba(248, 218, 109, 1) 0%, rgba(56, 105, 164, 1) 100%);
    border: 0;
}

a.main-button {
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #f4813f;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: rgb(248, 218, 109);
    background: linear-gradient(90deg, rgba(248, 218, 109, 1) 0%, rgba(56, 105, 164, 1) 100%);
}

.features-item h2 {
    left: 45px;
    /*font-size: 100px;*/
    font-weight: 600;
    color: #fdefe9;
}

.features-icon h2 {
    background-color: #3869a4;
    color: #f7d768;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 auto 15px auto;
    border-radius: 50px;
    font-size: 50px;
    /*    background: rgb(248,218,109);
    background: linear-gradient(90deg, rgba(248,218,109,1) 0%, rgba(56,105,164,1) 100%);*/
}

.features-item {
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

a.main-button-slider {
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #fba70b;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    /* background: rgb(248, 218, 109);
    background: linear-gradient(90deg, rgba(248, 218, 109, 1) 0%, rgba(56, 105, 164, 1) 100%); */
}

a.main-button-slider:hover {
    background-color: #3869a4 !important;
    color: ;
}

.formLapor {
    background: rgb(248, 218, 109);
    background: linear-gradient(90deg, rgba(248, 218, 109, 1) 0%, rgba(56, 105, 164, 1) 100%);
    padding: 10px;
    color: #fff;
}

.container-formLapor {
    /*box-shadow: 2px 2px 5px #dfdfdf;*/
    /*width: 60%;*/
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%);
}

.jenisinfra .col-md-4 {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}

label.custom-control-label.text-small {
    font-size: 14px;
}

.peringatan {
    font-size: 14px;
    text-align: left;
}

.right-image-decor {
    background-image: url(../images/right-bg-decor.png);
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    width: 100%;
    display: inline-block;
    /* height: 110%; */
    margin-top: -200px;
}

header.header-area.header-sticky .col-12 {
    padding: 0;
}

.header-area.header-sticky {
    min-height: 80px;
    position: fixed;
    top: 0;
}